@model Cms.Web.Models.Dto.LoginDto

<form asp-action="Login" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <!-- Şifre Hatırlatma Bağlantısı -->
        <small class="form-text">
            <a asp-action="ForgotPassword" asp-controller="Account">Forgot your password?</a>
        </small>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<div class="text-center">
    <p>Don't have an account? <a asp-action="Register" asp-controller="Account">Register here</a>.</p>
</div>
